@page
@model AR_Docent.website.Pages.Products.createModel
@{
}

<br />
<h2>New Product</h2>

@if (Model.errorMessage.Length > 0)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@Model.errorMessage</strong>
	</div>
}

<form method="POST">
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Title</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="title" value="@Model.productInfo.title" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="name" value="@Model.productInfo.name" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Content</label>
		<div class="col-sm-6">
			<textarea type="text" class="form-control" rows="5" name="content" value="@Model.productInfo.content"></textarea>
		</div>
	</div>
	

	<div class="form-group">
		<div class="col-sm-6">
			<label for="image">인식 시킬 이미지를 선택하세요 :</label>
			<input type="file" id="image" name="image" value="@Model.productInfo.image"/>
		</div>
	</div>

	@if (Model.successMessage.Length > 0)
	{
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<strong>@Model.successMessage</strong>
		</div>
	}

	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
		</div>
	</div>
</form>
